<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>::Big Data - Taller 2::</title>
		
		<!-- Styles -->
		<style>
			#t4-page { width:100%; min-height:400px; background:white; }
			#t4-header { width:100%; background:lightgray; font-family:Calibri; font-size:13pt; text-align:center; padding:1px 0 10px 0; }
			#t4-toolbox { width:100%; background:lightgray; font-family:Calibri; font-size:12pt; padding:10px 0 10px 0; margin:3px 0 3px 0px; }
			#t4-toolbox input { width:130px; margin:0 15px 0 5px;} 
			#t4-content { width:99.9%; height:400px; background:white; font-family:Calibri; font-size:12pt; border:1px solid gray; overflow:auto; position:relative; }
			#t4-toolbox #btnSearch { width:75px; }
			#t4-graph { top: 0; bottom: 0; left: 0; right: 0; position: absolute; }
		</style>
		
		<!-- Scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
		
		<!-- START SIGMA IMPORTS -->
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/sigma.core.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/conrad.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/utils/sigma.utils.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/utils/sigma.polyfills.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/sigma.settings.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/classes/sigma.classes.dispatcher.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/classes/sigma.classes.configurable.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/classes/sigma.classes.graph.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/classes/sigma.classes.camera.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/classes/sigma.classes.quad.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/classes/sigma.classes.edgequad.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/captors/sigma.captors.mouse.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/captors/sigma.captors.touch.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/sigma.renderers.canvas.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/sigma.renderers.webgl.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/sigma.renderers.svg.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/sigma.renderers.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/webgl/sigma.webgl.nodes.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/webgl/sigma.webgl.nodes.fast.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/webgl/sigma.webgl.edges.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/webgl/sigma.webgl.edges.fast.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.labels.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.hovers.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.nodes.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edges.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edges.curve.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edges.arrow.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edgehovers.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edgehovers.curve.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/canvas/sigma.canvas.extremities.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/svg/sigma.svg.utils.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/svg/sigma.svg.nodes.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/svg/sigma.svg.edges.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/svg/sigma.svg.edges.curve.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/svg/sigma.svg.labels.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/renderers/svg/sigma.svg.hovers.def.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/middlewares/sigma.middlewares.rescale.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/middlewares/sigma.middlewares.copy.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/misc/sigma.misc.animation.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/misc/sigma.misc.bindEvents.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/misc/sigma.misc.bindDOMEvents.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/src/misc/sigma.misc.drawHovers.js') }}"></script>
		<script src="{{ url_for('static', filename='punto1/sigma.js-1.2.0/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js') }}"></script>
		<!-- END SIGMA IMPORTS -->
		
		<script>
			/* Constructor */
			$( document ).ready(function() {
			
				$("#btnSearch").click(function() {
				
					/* Get filter data */
					var input = { "country" : $("#txtCountry").val(), 
								  "city" : $("#txtCity").val(),
								  "person" : $("#txtPerson").val(),
								  "initDate" : $("#txtInitDate").val(),
								  "endDate" : $("#txtEndDate").val() };
					
					/* Search files */
					searchData(input);
				});
			});
			
			/* Search function */
			function searchData(input) {
				var gData = getData(input);
				drawGraph(gData);
			}
			
			/* Get the Graph data */
			function getData(input) {
				console.log(input);
				
				var N = 10, E = 50;
				var gData = { nodes: [], edges: [] };

				// Generate a random graph:
				for (var i = 0; i < N; i++)
					gData.nodes.push({
						id: 'n' + i,
						label: 'Node ' + (i + 1),
						x: Math.random(),
						y: Math.random(),
						size: Math.random(),
						color: '#c6583e'
					});

				for (var i = 0; i < E; i++)
					gData.edges.push({
						id: 'e' + i,
						text: 'Label ' + (i + 1),
						source: 'n' + (Math.random() * N | 0),
						target: 'n' + (Math.random() * N | 0),
						size: Math.random(),
						color: '#ccc'
					});
				
				console.log(gData);
				return gData;
			}
			
			/* Draw the Graph */
			function drawGraph(gData) {

				// Instantiate sigma:
				document.getElementById("t4-graph").innerHTML = "";
				var s = new sigma({
					graph: gData, container: 't4-graph'
				});
				
				// Initialize the dragNodes plugin:
				var dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);
			}
		</script>
	</head>
	<body>
		<!-- Body -->
		<div id="t4-page">
		
			<!-- Header -->
			<div id="t4-header">
				<h2 style="color:darkblue">Procesamiento escalable de fuentes semiestructuradas</h2>
				<span>Omar A. Herazo, Sergio A. Melo Ramos, German A. Segura Tinoco</span><br />
				<span>Taller 2, MINE Análisis de información sobre Big Data</span><br />
				<span>Universidad de los Andes, Bogotá, Colombia</span><br />
				<span>{oa.herazo, sa.melo, ga.segura}@uniandes.edu.co</span><br />
				<span>Fecha de presentación: Abril 05 de 2017</span>
			</div>
			
			<!-- Toolbox -->
			<div id="t4-toolbox">
				<label style="margin-left:15px" for="txtCountry">País</label><input id="txtCountry" type="text" />
				<label for="txtCity">Ciudad</label><input id="txtCity" type="text" />
				<label for="txtPerson">Personaje</label><input id="txtPerson" type="text" />
				<label for="txtInitDate">Fecha inicio</label><input id="txtInitDate" type="date" />
				<label for="txtEndDate">Fecha fin</label><input id="txtEndDate" type="date" />
				<input id="btnSearch" type="button" value="Buscar" />
			</div>
			
			<!-- Content -->
			<div id="t4-content">
				<div id="t4-graph"> </div>
			</div>
		</div>
	</body>
	
</html>