<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Taller 2, punto 1</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='test/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="divLoading" style="display: none; position: fixed; background-color: #E5EEF1; opacity: .75; border-radius: 25px; width: 100%; height: 100%; z-index: 99999;">
        <img src="{{ url_for('static', filename='test/img/loading.gif') }}" alt="Loading" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; max-width: 80%; max-height: 80%;">
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center" style="color:darkblue">Procesamiento escalable de fuentes semiestructuradas</h2>
            <p class="text-center">Omar A. Herazo, Sergio A. Melo Ramos, German A. Segura Tinoco</p>
            <p class="text-center">Taller 2, MINE Análisis de información sobre Big Data</p>
            <p class="text-center">Universidad de los Andes, Bogotá, Colombia</p>
            <p class="text-center">{oa.herazo, sa.melo, ga.segura}@uniandes.edu.co</p>
            <p class="text-center">Fecha de presentación: Abril 05 de 2017</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2">
            <input type="text" class="form-control" id="txtPersonaje" placeholder="Personaje">
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" id="txtPais" placeholder="País">
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" id="txtCiudad" placeholder="Ciudad">
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" id="txtFechaInicio" placeholder="Fecha inicio (dd/MM/yyyy)">
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" id="txtFechaFin" placeholder="Fecha fin (dd/MM/yyyy)">
        </div>
        <div class="col-lg-1">
            <input class="btn btn-default btn-block" id="btnBuscar" type="button" value="Buscar" 
            onClick="obtenerNodos();" />
        </div>
        <div class="col-lg-1">
            <input class="btn btn-default btn-block" id="btnDefault" type="button" value="Default" 
            onClick="obtenerDefault();" />
        </div>
    </div>	
    <br>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <div id="mynetwork" style="width: 1200px; height: 500px; border: 1px solid lightgray; background-color: white; margin-left: auto; margin-right: auto"></div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='test/js/vis.js') }}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='test/js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='test/js/grafo.js') }}"></script>    
  </body>
</html>
